/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# .env
public/css/stylesheet.css
resources/views/layouts/app.blade.php
resources/views/layouts/app.blade.php
resources/views/layouts/trying
