html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
   
}

header {
    background-color: #ffe4c4;
}

main {
    background-color: #bdb76b;
}

/* Sticks the Footer to the bottom of the page */
.content {
    min-height: 82%;
}

/* Nav Hover Color */
.nav-link:hover {
    color: #5DB856 !important;
}

/* Nav Logo CSS */
.navbar-brand {
    color: #d0f2f1;
    font-weight: bold;
    font-size: 1.4em;
}

/* Card Column on Homepage CSS */
/* Small Screens */
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

/* Medium Screens*/
@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

/* Large Screens */
@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

/* X-Large Screens*/
@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

/* Card Shadow Effect and Hover  */
.card{
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 1px 7px 0 rgba(0, 0, 0, 0.12);
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  	box-shadow: 0 4px 6px rgba(0,0,0,0.25), 0 4px 9px rgba(0,0,0,0.22);
}

/* Prompt for Password Validation */
.help-block {
    color: red !important;
}

/* Navigation bar header */
.navbar-header {
    color: #d0f2f1;
    font-weight: bold;
    font-size: 1.4em;
}
/* --------------------------- Drop Down Menu and Sub Menu Fixes --------------------------- */

/* Aligns Main Menu under button */
.dropdownfix{
    margin-top: 0px !important;
    left: auto !important;
    border-radius: .9rem !important;
    text-align: right !important;
    background-color: rgba(250, 250, 250, 0.97) !important;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 95%;
    text-align: right;
    margin-top: -6px;
    margin-left: 0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0.8rem;
    background-color: rgba(250, 250, 250, 0.97);
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #808080;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    background-color: rgba(250, 250, 250, 0.97);
    text-align: center;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 0.85rem;
}
/*login & register page font size*/
.panel-heading h1{
  width:100px;
  height:50px;
  position:relative;
  left:1.1%;
  font-size:40px
  margin-top:10;
}

.category_breadcrumb{
  padding-bottom: 15px;
}

/* profile page css*/

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

/*profile page css end*/
