html, body{
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}
/* Sticks the Footer to the bottom of the page */
.content{
	min-height: 82%;
}

/* Fixes card columns clearing eachother, not sure if necessary */
.card{
	display: inline-block;
}

a:hover{
   color:yellow !important;
}
