html, body{
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  margin:0;
  padding: 0;
  background-color: rgb(250,250,250);
}
header{
	background-color: #ffe4c4;
}
main{
	background-color: #bdb76b;
}
/* Sticks the Footer to the bottom of the page */
.content{
	min-height: 82%;
}

/* Nav Hover Color */
.nav-link:hover{
   color:#5DB856 !important;
}

/* Nav Logo CSS */
.navbar-brand{
	color: #d0f2f1;
	font-weight:bold;
	font-size: 1.4em;
}

/* Card Column on Homepage CSS */
/* Small Screens */
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}
/* Medium Screens*/
@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
/* Large Screens */
@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
/* X-Large Screens*/
@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

/* Prompt for Password Validation */
.help-block{
  color: red !important;
}

/*login & register page font size*/
.panel-heading h1{
  width:100px; 
  height:50px; 
  position:relative; 
  left:1.1%; 
  font-size:40px
}

.category_breadcrumb{
  padding-bottom: 15px;
}